{% extends 'clinica/base.html' %}

{% block content %}
{% load static %}
{% if user.is_authenticated %}
        <h3>Hello {{user.username}}</h3>
    {% else %}
        <p>Você precisa realizar o login</p>
    {% endif %}

    {% if user.is_superuser %}
                <td>
                    <a class="btn btn-default" href="{% url 'cadastrar_especialidade' %}">
        
                        <button type="button" class="btn btn-secondary btn-lg">Cadastrar Especialidade</button>
                    </a>
                </td>
                {% endif %}
        <center><img height="400" width="600" src="{% static 'esplista.svg' %}"></center>   
        {% for especialidade in especialidades %}
        
            {{especialidade.nome}}   <br>
        {% endfor %} 
{% endblock %}